@font-face {
    font-family: Roboto;
    src: url(/movie/src/fonts/RobotoCondensed-Regular.ttf);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 1000;
}

.navbar{
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    position: relative;
}

ul::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    background-color: rgb(125, 125, 125);
    width: 100%;
    height: 1px;
}

ul li{
    list-style: none;
    display: inline-block;
}

ul li a{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    color: white;
    text-decoration: none;
    position: relative;
    padding: 0 20px;
    transition: .3s;
}

ul li a:hover{
    color: #fcb900;
}

ul li a::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -14px;
    width: 0px;
    height: 2px;
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
    z-index: 2000;
    transition: .3s;
}

ul li a:hover::after{
    width: 100%;
}

#home{
    position: relative;
}

#home::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -14px;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
    z-index: 2000;
}